{<<"app">>,<<"exq_ui">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Exq UI is the UI component for Exq, a job processing library.  Exq UI provides the UI dashboard\nto display stats on job processing.">>}.
{<<"elixir">>,<<"~> 1.7">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/exq_ui_web">>,<<"lib/exq_ui_web/router.ex">>,
  <<"lib/exq_ui_web/live">>,<<"lib/exq_ui_web/live/dashboard_live.ex">>,
  <<"lib/exq_ui_web/live/scheduled_live">>,
  <<"lib/exq_ui_web/live/scheduled_live/index.html.leex">>,
  <<"lib/exq_ui_web/live/scheduled_live/show.ex">>,
  <<"lib/exq_ui_web/live/scheduled_live/index.ex">>,
  <<"lib/exq_ui_web/live/scheduled_live/show.html.leex">>,
  <<"lib/exq_ui_web/live/busy_live">>,
  <<"lib/exq_ui_web/live/busy_live/index.html.leex">>,
  <<"lib/exq_ui_web/live/busy_live/index.ex">>,
  <<"lib/exq_ui_web/live/components">>,
  <<"lib/exq_ui_web/live/components/pagination_component.ex">>,
  <<"lib/exq_ui_web/live/components/nav_bar_component.html.leex">>,
  <<"lib/exq_ui_web/live/components/historical_stats_component.html.leex">>,
  <<"lib/exq_ui_web/live/components/table_component.ex">>,
  <<"lib/exq_ui_web/live/components/historical_stats_component.ex">>,
  <<"lib/exq_ui_web/live/components/realtime_stats_component.ex">>,
  <<"lib/exq_ui_web/live/components/stats_component.ex">>,
  <<"lib/exq_ui_web/live/components/table_component.html.leex">>,
  <<"lib/exq_ui_web/live/components/job_details_component.html.leex">>,
  <<"lib/exq_ui_web/live/components/stats_component.html.leex">>,
  <<"lib/exq_ui_web/live/components/pagination_component.html.leex">>,
  <<"lib/exq_ui_web/live/components/nav_bar_component.ex">>,
  <<"lib/exq_ui_web/live/components/job_details_component.ex">>,
  <<"lib/exq_ui_web/live/components/realtime_stats_component.html.leex">>,
  <<"lib/exq_ui_web/live/retry_live">>,
  <<"lib/exq_ui_web/live/retry_live/index.html.leex">>,
  <<"lib/exq_ui_web/live/retry_live/show.ex">>,
  <<"lib/exq_ui_web/live/retry_live/index.ex">>,
  <<"lib/exq_ui_web/live/retry_live/show.html.leex">>,
  <<"lib/exq_ui_web/live/dashboard_live.html.leex">>,
  <<"lib/exq_ui_web/live/queue_live">>,
  <<"lib/exq_ui_web/live/queue_live/index.html.leex">>,
  <<"lib/exq_ui_web/live/queue_live/show.ex">>,
  <<"lib/exq_ui_web/live/queue_live/index.ex">>,
  <<"lib/exq_ui_web/live/queue_live/show.html.leex">>,
  <<"lib/exq_ui_web/live/dead_live">>,
  <<"lib/exq_ui_web/live/dead_live/index.html.leex">>,
  <<"lib/exq_ui_web/live/dead_live/show.ex">>,
  <<"lib/exq_ui_web/live/dead_live/index.ex">>,
  <<"lib/exq_ui_web/live/dead_live/show.html.leex">>,
  <<"lib/exq_ui_web/templates">>,<<"lib/exq_ui_web/templates/layout">>,
  <<"lib/exq_ui_web/templates/layout/live.html.leex">>,
  <<"lib/exq_ui_web/templates/layout/app.html.eex">>,
  <<"lib/exq_ui_web/templates/layout/root.html.leex">>,
  <<"lib/exq_ui_web/views">>,<<"lib/exq_ui_web/views/layout_view.ex">>,
  <<"lib/exq_ui_web/views/error_view.ex">>,
  <<"lib/exq_ui_web/views/helpers.ex">>,<<"lib/exq_ui_web/router">>,
  <<"lib/exq_ui_web/router/helpers.ex">>,<<"lib/exq_ui.ex">>,<<"lib/exq_ui">>,
  <<"lib/exq_ui/queue.ex">>,<<"lib/exq_ui/application.ex">>,
  <<"lib/exq_ui_web.ex">>,<<"priv">>,<<"priv/static">>,<<"priv/static/css">>,
  <<"priv/static/css/app.css">>,<<"priv/static/js">>,
  <<"priv/static/js/app.js.LICENSE.txt">>,<<"priv/static/js/app.js">>,
  <<"test">>,<<"test/exq_ui_web">>,<<"test/exq_ui_web/live">>,
  <<"test/exq_ui_web/live/scheduled_live">>,
  <<"test/exq_ui_web/live/scheduled_live/index_test.exs">>,
  <<"test/exq_ui_web/live/busy_live">>,
  <<"test/exq_ui_web/live/busy_live/index_test.exs">>,
  <<"test/exq_ui_web/live/dashboard_live_test.exs">>,
  <<"test/exq_ui_web/live/retry_live">>,
  <<"test/exq_ui_web/live/retry_live/index_test.exs">>,
  <<"test/exq_ui_web/live/queue_live">>,
  <<"test/exq_ui_web/live/queue_live/index_test.exs">>,
  <<"test/exq_ui_web/live/dead_live">>,
  <<"test/exq_ui_web/live/dead_live/index_test.exs">>,<<"test/support">>,
  <<"test/support/conn_case.ex">>,<<"test/test_helper.exs">>,<<"assets/js">>,
  <<"assets/js/hooks">>,<<"assets/js/hooks/plot.js">>,
  <<"assets/js/hooks/table.js">>,<<"assets/js/hooks/refresh.js">>,
  <<"assets/js/app.js">>,<<"assets/css">>,<<"assets/css/bootstrap.scss">>,
  <<"assets/css/app.scss">>,<<"assets/static">>,
  <<"assets/static/favicon.ico">>,<<"assets/static/images">>,
  <<"assets/static/images/phoenix.png">>,<<"assets/static/robots.txt">>,
  <<"LICENSE">>,<<"mix.exs">>,<<"README.md">>,<<"CHANGELOG.md">>]}.
{<<"licenses">>,[<<"Apache2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/akira/exq_ui">>}]}.
{<<"name">>,<<"exq_ui">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"exq">>},
   {<<"name">>,<<"exq">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<">= 0.9.0">>}],
  [{<<"app">>,<<"phoenix_live_view">>},
   {<<"name">>,<<"phoenix_live_view">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.16.0">>}],
  [{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0">>}],
  [{<<"app">>,<<"plug_cowboy">>},
   {<<"name">>,<<"plug_cowboy">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}]]}.
{<<"version">>,<<"0.12.0">>}.
